.caprasimo {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.salsa {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
}

.capriola {
  font-family: "Capriola", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.crimson {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.patrick {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.damion {
  font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
}

.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9C2E2E;
  background: linear-gradient(180deg, rgba(156, 46, 46, 1) 0%, rgba(101, 35, 35, 1) 100%);
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  overflow-y: auto;
  h1 {
    color: white;
    font-size: clamp(1.5em, 3vw, 2.5em);
  }
  #save-settings {
    background: #046A38;
    border: #030300 1.5px solid;
    font-size: clamp(0.9em, 1.5vw, 1.1em);
    color: white;
    padding: 10px 60px;
    margin-bottom: 10px;
    cursor: pointer;
    width: min-content;
    align-self: center;
  }
  .content {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100%;
    .settings-tabs {
      display: flex;
      flex-direction: column;
      height: min-content;
      margin-top: clamp(40px, 10vh, 140px);
      padding: 15px 20px;
      background-color: #F1E7D3;
      border: #030300 2px solid;
      gap: 10px;
      .tab {
        align-self: center;
        justify-self: center;
        width: 100%;
        height: auto;
        min-height: 20px;
        display: flex;
        flex-wrap: wrap;
        opacity: 1;
        align-items: center;
        justify-content: start;
        padding: 10px 15px;
        gap: 10px;
        transition: all .6s ease;
        p {
          font-size: clamp(0.9em, 2vw, 1.1em);
          grid-column: 1 / -1;
          grid-row: 1;
          justify-self: center;
          padding-right: 50px;
        }
        button {
          font-size: clamp(0.8em, 1.4vw, 1.1em);
          background-color: white;
          border: #046A38 1.5px solid;
          color: #030300;
          padding: 5px 6px;
          transition: all .25s ease;
        }
      }
    }
  }
}

.settings-overlay.is-open {
  transform: translateY(0);
}
