.caprasimo {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.salsa {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
}

.capriola {
  font-family: "Capriola", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.crimson {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.patrick {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
